img {
    width: 20%;
    height: 20%;
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
}
